<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="HolisticWare.Auth" version="0.0.1-alpha-20150224" targetFramework="MonoTouch10" />
  <package id="HolisticWare.Core" version="1.0.0" targetFramework="MonoTouch10" />
  <package id="HolisticWare.Core.Json" version="1.0.0" targetFramework="MonoTouch10" />
  <package id="HolisticWare.Core.Reflection" version="1.0.0" targetFramework="MonoTouch10" />
  <package id="Microsoft.Bcl" version="1.1.9" targetFramework="MonoTouch10" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="MonoTouch10" />
  <package id="Microsoft.Net.Http" version="2.2.28" targetFramework="MonoTouch10" />
</packages>